# Create firewall rules to allow traffics to access the MySQL database

# Allow access from Azure
resource "azurerm_mysql_flexible_server_firewall_rule" "{{engine.module_name}}" {
    name                = "{{engine.module_params_name}}"
    resource_group_name = azurerm_resource_group.rg.name
    server_name         = azurerm_mysql_flexible_server.{{engine.params_parent_module_name}}.name
    start_ip_address    = "0.0.0.0"
    end_ip_address      = "0.0.0.0"
}
