# Create an Azure Role Assignment

resource "azurerm_role_assignment" "{{engine.module_name}}" {
	scope					=	{{engine.module_params_scope}}
	role_definition_name	=	"{{engine.module_params_role_definition_name}}"
	principal_id			=	{{engine.module_params_principal_id}}
}