# Create firewall rules to allow traffics to access the PostgreSQL database

# Use the first outbound IP of the compute service
{% for ip in engine.module_params_allow_ips %}resource "azurerm_postgresql_flexible_server_firewall_rule" "{{engine.module_name}}_{{loop.index}}" {
    name                = "{{engine.module_params_name}}-{{loop.index}}"
    server_id         	= azurerm_postgresql_flexible_server.{{engine.params_parent_module_name}}.id
    start_ip_address    = {{ip}}[0]
    end_ip_address      = {{ip}}[0]
}
{% endfor %}