// Deploy an Azure App Service

module {{engine.module_name}} 'appservice.bicep' = {
	name: '{{engine.module_deployment_name}}'
	params: {
		location: location
		name: {{engine.module_params_name}}
		appServicePlanId: appServicePlanId {% if engine.module_params_app_settings %}
		appSettings: [{% for key, value in engine.module_params_app_settings %}
			{
				name: '{{key}}'
				value: {{value}}
			}{% if not loop.last %},{% endif %}
		{% endfor %}]
		{% endif %}
	}{% if engine.module_depends_on %}
	dependsOn: [{% for dep in engine.module_depends_on %}
		{{dep}}{% endfor %}
	]
	{% endif %}
}{% if engine.module_var_principal_id %}
var {{engine.module_var_principal_id_name}} = {{engine.module_name}}.outputs.identityPrincipalId{% endif %}{% if engine.module_var_outbound_ip %}
var {{engine.module_var_outbound_ip_name}} = split({{engine.module_name}}.outputs.outboundIps, ','){% endif %}



