// Deploy the app service settings

module {{engine.module_name}} 'appservice.settings.bicep' = {
	name: '{{engine.module_deployment_name}}'
	params: {
		appName: {{engine.module_params_app_name}} {% if engine.module_params_app_settings %}
		appSettings: { {% for key, value in engine.module_params_app_settings %}
			{{key}}: {{value}} {% endfor %}
		}{% endif %}
	}{% if engine.module_depends_on %}
	dependsOn: [{% for dep in engine.module_depends_on %}
		{{dep}}{% endfor %}
	]
	{% endif %}
}



