resource "azurerm_linux_function_app" "{{engine.module_name}}" {
    name                = "{{engine.module_params_name}}"
    resource_group_name = azurerm_resource_group.rg.name
    location            = azurerm_resource_group.rg.location

    storage_account_name       = azurerm_storage_account.strg_funcdep.name
    storage_account_access_key = azurerm_storage_account.strg_funcdep.primary_access_key
    service_plan_id            = azurerm_service_plan.funcplanlinux.id

    site_config {}

    app_settings = { {% for setting in engine.module_params_app_settings %}
        "{{setting.name}}" = {% if setting.is_keyvault_reference() %}"@Microsoft.KeyVault(SecretUri=${ {{setting.value}} })"{% else %}{{setting.value}}{% endif %}{% endfor %}
    }

    identity {
        type = "{{engine.module_identity_type}}" {% if engine.module_user_identities %}
        identity_ids = concat({% for identity in engine.module_user_identities %}
            {{identity}}{% if loop.index != engine.module_params_allow_ips|length %},{% endif %}{% endfor %}
        ) {%endif%}
    }
}