resource "azurerm_storage_account_network_rules" "{{engine.module_name}}" {
	storage_account_id = azurerm_storage_account.{{engine.params_parent_module_name}}.id
	default_action     = "Deny"
	ip_rules           = concat({% for ip in engine.module_params_allow_ips %}
		{{ip}}
	{% endfor %})
}