# Create a Key Vault Secret

resource "azurerm_key_vault_secret" "{{engine.module_name}}" {
  	name		=	"{{engine.module_params_name}}"
	value		=	{{engine.module_params_value}}
	key_vault_id	=   {{engine.module_params_key_vault_id}}
}
