// The template to create an Azure Kubernetes Service

param name string = 'aks_${uniqueString(resourceGroup().id)}'
param location string = resourceGroup().location
param osDiskSizeGB int = 0
param agentCount int = 3
param agentVMSize string = 'standard_d2s_v3'

resource aks 'Microsoft.ContainerService/managedClusters@2024-02-01' = {
  name: name
  location: location
  identity: {
    type: 'SystemAssigned'
  }
  properties: {
    agentPoolProfiles: [
      {
        name: 'agentpool'
        osDiskSizeGB: osDiskSizeGB
        count: agentCount
        vmSize: agentVMSize
        osType: 'Linux'
        mode: 'System'
      }
    ]
  }
}


output id string = aks.id
output name string = aks.name
output identityPrincipalId string = aks.identity.principalId
// TODO: outbound IP
output requestUrl string = aks.properties.fqdn
