{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": { {% for param in engine.params %}
        "{{ param.name }}": {
            "value": "{{ param.get_value_placeholder() }}"
        }{% if not loop.last %},{% endif %}
    {% endfor %}}
}