// Deploy an Azure App Service Plan

module {{engine.module_name}} 'appserviceplan.bicep' = {
	name: 'app-service-plan-deployment'
	scope: resourceGroup
	params: {
		location: location
		name: appServicePlanName
	}
}
var appServicePlanId = appServicePlan.outputs.id