# Create a Key Vault Secret

resource "azurerm_key_vault_secret" "{{engine.module_name}}" {
  	name			=	"{{engine.module_params_name}}"
	value			=	azurerm_cosmosdb_account.cosmos.primary_mongodb_connection_string
	key_vault_id	=	azurerm_key_vault.kv_todo.id
}